* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
:root{
  --bg-header-green: #4CAF50;
  --bg-sidebar: #f0f0f0;
  --bg-main: #ffffff;
  --bg-footer-green: #4CAF50;
  --text-light: #ffffff;
  --text-dark: #000000;
}
input:checked~.dashboard {
  --bg-header-green: #4CAF50;
  --bg-sidebar: #f0f0f0;
  --bg-main: #ffffff;
  --bg-footer-green: #4CAF50;
  --text-light: #ffffff;
  --text-dark: #000000;
}
.dashboard {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 70px 1fr 50px;
  min-height: 100vh;
}
.header {
 grid-column: 1 / 3; 
  background-color: #4CAF50;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.theme-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}
.theme-switch input[type="checkbox"] {
  accent-color: white;
  cursor: pointer;
}
.sidebar {
  grid-column: 1 / 2; 
  background-color: #f0f0f0;
  padding: 1rem;
}
.sidebar a {
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 1rem;
}
.main-content {
  grid-column: 2 / 3; 
  padding: 2rem;
  background-color: white;
  color: black;
}
.footer {
  grid-column: 1 / 3;
  background-color: #4CAF50;
  text-align: center;
  padding: 0.75rem;
  color: white;
}
